Pyspark dataframe
reading the dataset
checking the datatypes of the col
selecting cols and indexing
check describe option similar to pandas
adding cols
droping cols
renaming columns

In [8]:
from pyspark.sql import SparkSession

In [9]:
spark=SparkSession.builder.appName("Dataframes").getOrCreate()

In [10]:
spark

In [11]:
spark.read.option("header","true").csv("test2.csv")

DataFrame[Name : string, Age: string, Experience: string]

In [12]:
#read the dataset

df_pyspark=spark.read.option("header","true").csv("test2.csv")

In [13]:
df_pyspark.show()

+---------+---+----------+
|    Name |Age|Experience|
+---------+---+----------+
|  Saiteja| 22|        10|
|   Dinesh| 24|        12|
|    Rohan| 25|        13|
|Suryateja| 22|        10|
+---------+---+----------+

In [14]:
#dataframe schema

df_pyspark.printSchema()

root
 |-- Name : string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)

In [15]:
df_pyspark=spark.read.option("header","true").csv("test2.csv",inferSchema=True)   #guves actual data type

In [16]:
df_pyspark.printSchema()

root
 |-- Name : string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [17]:
df_pyspark=spark.read.csv("test2.csv",header=True,inferSchema=True)
df_pyspark

DataFrame[Name : string, Age: int, Experience: int]

In [18]:
df_pyspark.show()

+---------+---+----------+
|    Name |Age|Experience|
+---------+---+----------+
|  Saiteja| 22|        10|
|   Dinesh| 24|        12|
|    Rohan| 25|        13|
|Suryateja| 22|        10|
+---------+---+----------+

In [19]:
df_pyspark.printSchema()

root
 |-- Name : string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [20]:
type(df_pyspark)    #basically dataframe is a data structure inside we can perfrom various kind of operations

pyspark.sql.dataframe.DataFrame

In [21]:
df_pyspark.columns

['Name ', 'Age', 'Experience']

In [22]:
df_pyspark.head(3)

[Row(Name ='Saiteja', Age=22, Experience=10),
 Row(Name ='Dinesh', Age=24, Experience=12),
 Row(Name ='Rohan', Age=25, Experience=13)]

<h3>accessing columns and indexs</h3>

In [28]:
df_pyspark.select('Name ')

DataFrame[Name : string]

In [29]:
df_pyspark.select('Name ').show()

+---------+
|    Name |
+---------+
|  Saiteja|
|   Dinesh|
|    Rohan|
|Suryateja|
+---------+

In [30]:
type(df_pyspark.select('Age'))

pyspark.sql.dataframe.DataFrame

In [32]:
df_pyspark.select(["Age","Experience"]).show()

+---+----------+
|Age|Experience|
+---+----------+
| 22|        10|
| 24|        12|
| 25|        13|
| 22|        10|
+---+----------+

In [33]:
df_pyspark["Name "]

Column<'Name '>

In [34]:
df_pyspark.dtypes

[('Name ', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [35]:
df_pyspark.describe().show()

+-------+---------+------------------+------------------+
|summary|    Name |               Age|        Experience|
+-------+---------+------------------+------------------+
|  count|        4|                 4|                 4|
|   mean|     NULL|             23.25|             11.25|
| stddev|     NULL|1.5000000000000004|1.4999999999999998|
|    min|   Dinesh|                22|                10|
|    max|Suryateja|                25|                13|
+-------+---------+------------------+------------------+

<h3>adding columns</h3>

In [38]:
df_pyspark=df_pyspark.withColumn("Experience after 2 yrs",df_pyspark['Experience']+2)

In [39]:
df_pyspark.show()

+---------+---+----------+----------------------+
|    Name |Age|Experience|Experience after 2 yrs|
+---------+---+----------+----------------------+
|  Saiteja| 22|        10|                    12|
|   Dinesh| 24|        12|                    14|
|    Rohan| 25|        13|                    15|
|Suryateja| 22|        10|                    12|
+---------+---+----------+----------------------+

<h3>drop columns</h3>

In [40]:
df_pyspark=df_pyspark.drop("Experience after 2 yrs")

In [41]:
df_pyspark.show()

+---------+---+----------+
|    Name |Age|Experience|
+---------+---+----------+
|  Saiteja| 22|        10|
|   Dinesh| 24|        12|
|    Rohan| 25|        13|
|Suryateja| 22|        10|
+---------+---+----------+

<h3> column rename</h3>

In [42]:
df_pyspark=df_pyspark.withColumnRenamed("Name ","Employee_Name")

In [43]:
df_pyspark.show()

+-------------+---+----------+
|Employee_Name|Age|Experience|
+-------------+---+----------+
|      Saiteja| 22|        10|
|       Dinesh| 24|        12|
|        Rohan| 25|        13|
|    Suryateja| 22|        10|
+-------------+---+----------+